body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', 'Oxygen', -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

:root {
  --font-basic: 'Roboto', 'Oxygen', -apple-system, BlinkMacSystemFont, 'Segoe UI', 
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  --font-size-1: 3vw;
  --font-size-2: 2vw;
  --font-size-3: 1vw;
  --font-size-4: 0.5vw;
}